{% extends "base.html" %}

{% block content %}
<div class="page-heading"><h1>{{ title }}</h1></div>
<div class="content-panel form-panel">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="row g-3">
      <div class="col-md-6">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% with field=form.name %}{% include "_form_errors.html" %}{% endwith %}
      </div>
      <div class="col-md-6">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% with field=form.email %}{% include "_form_errors.html" %}{% endwith %}
      </div>
      <div class="col-md-6">
        {{ form.phone.label(class="form-label") }}
        {{ form.phone(class="form-control") }}
        {% with field=form.phone %}{% include "_form_errors.html" %}{% endwith %}
      </div>
      <div class="col-12">
        {{ form.address.label(class="form-label") }}
        {{ form.address(class="form-control", rows="3") }}
        {% with field=form.address %}{% include "_form_errors.html" %}{% endwith %}
      </div>
    </div>
    <div class="mt-4">
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('suppliers.list_suppliers') }}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}

